{% extends 'base.html.twig' %}

{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron jumbotron-fluid services-jumbo" style =" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/AssetManBanner.jpeg');background-size: cover;
  height:500px;" >
  
    <div class="container services-jumbo-container">
      <h1 class="display-3">Asset Management</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content.</p>
      <p><a class="btn btn-primary btn-lg" href="#" style = "background-color:  #d39e00!important; color: #FFFFFF!important" role="button">Contact us</a></p>
    </div>
    
    {# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}
    
  </div>

  <div class="container">
   
 <h1> Thank you contating us </h1>

  </div> <!-- /container -->




</main>



{% endblock %}